.even{
    
    background-color: #e4e4e4;
    text-align: center;
    border: 0.5px solid #000000;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    




}

.odd{
        
        background-color: #e4e4e4;
        color: #000000;
        text-align: center;
        border: 0.5px solid #000000;
        border-radius: 2px;
        margin: 10px;
        padding: 10px;
}

.sun-editor .se-toolbar {
    display: block;
    /* position: relative; */
    height: auto;
    width: 100%;
    overflow: visible;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    outline: 1px solid #dadada;
    z-index: 5;
    position: fixed;
    width: 794px;
    background-color: rgb(248, 235, 235);
}
.sun-editor-editable p{
    margin-top: 5em;

}
::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    background-color: #F5F5F5;
    
}
.evenodd{
    /* flex-direction: column;
    width:min-content */
}
.MuiDivider-middle{
    width:auto !important;
    min-width: 180px;
    margin-right:0px !important;
    margin-top: 12px !important;
    /* background-color: chocolate; */
}
.wrapperchap .MuiChip-label{
    color:#fe5e3c;
    /* background:#757575 */
}
.wrapperchap .MuiChip-root{
    background-color: #0B121E !important;
}
.MuiDivider-root::before, .MuiDivider-root::after{
    border-top: none !important;
}
.widthStyleClass{
    left:30% !important;
    width:55% !important;
    max-height: 80% !important;
    overflow: scroll;
    scroll-behavior: smooth;
}